# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
simple_vocabulary/Pods
simple_vocabulary/Pods/AFNetworking/LICENSE
simple_vocabulary/Pods/AFNetworking/README.md
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperation.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPRequestOperationManager.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFNetworking.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLConnectionOperation.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLSessionManager.h
simple_vocabulary/Pods/AFNetworking/AFNetworking/AFURLSessionManager.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIAlertView+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h
simple_vocabulary/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFHTTPRequestOperation.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFHTTPRequestOperationManager.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFHTTPSessionManager.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFNetworkReachabilityManager.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFURLConnectionOperation.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/AFURLSessionManager.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIAlertView+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/AutoMigratingMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/AutoMigratingWithSourceAndTargetModelMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/ClassicSQLiteMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/ClassicWithBackgroundCoordinatorSQLiteMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/InMemoryMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalImportFunctions.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalMigrationManager.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecord+Actions.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecord+Options.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecord+Setup.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecord+VersionInformation.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordDeprecated.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordInternal.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordLogging.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordMOGeneratorProtocol.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordShorthand.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordStack+Actions.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordStack+Private.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/MagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/ManuallyMigratingMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSArray+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSAttributeDescription+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSDictionary+MagicalRecordAdditions.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSEntityDescription+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSError+MagicalRecordErrorHandling.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSFetchedResultsController+MagicalFetching.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalAggregation.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalFetching.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalFinders.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObject+MagicalRequests.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObjectContext+MagicalObserving.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObjectContext+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObjectContext+MagicalSaves.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSManagedObjectModel+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSNumber+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSObject+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStore+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStore+MagicalRecordPrivate.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStoreCoordinator+MagicalAutoMigrations.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStoreCoordinator+MagicalInMemoryStoreAdditions.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStoreCoordinator+MagicalManualMigrations.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSPersistentStoreCoordinator+MagicalRecord.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSRelationshipDescription+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/NSString+MagicalDataImport.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/SQLiteMagicalRecordStack.h
simple_vocabulary/Pods/Headers/Public/MagicalRecord/MagicalRecord/SQLiteWithSavingContextMagicalRecordStack.h
simple_vocabulary/Pods/Local Podspecs/MagicalRecord.podspec
simple_vocabulary/Pods/MagicalRecord/LICENSE
simple_vocabulary/Pods/MagicalRecord/README.md
simple_vocabulary/Pods/MagicalRecord/Library/MagicalMigrationManager.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalMigrationManager.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSFetchedResultsController+MagicalFetching.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSFetchedResultsController+MagicalFetching.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectModel+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectModel+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStore+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStore+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStore+MagicalRecordPrivate.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/MagicalImportFunctions.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/MagicalImportFunctions.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSAttributeDescription+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSAttributeDescription+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSEntityDescription+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSEntityDescription+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSNumber+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSNumber+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSObject+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSObject+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSRelationshipDescription+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSRelationshipDescription+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSString+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/Import/NSString+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalAggregation.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalAggregation.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalDataImport.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalDataImport.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalFetching.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalFetching.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalFinders.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalFinders.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalRequests.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObject/NSManagedObject+MagicalRequests.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalObserving.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalObserving.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalSaves.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSManagedObjectContext/NSManagedObjectContext+MagicalSaves.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalAutoMigrations.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalAutoMigrations.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalInMemoryStoreAdditions.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalInMemoryStoreAdditions.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalManualMigrations.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalManualMigrations.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/CoreData/NSPersistentStoreCoordinator/NSPersistentStoreCoordinator+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSArray+MagicalRecord.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSArray+MagicalRecord.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSDictionary+MagicalRecordAdditions.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSDictionary+MagicalRecordAdditions.m
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSError+MagicalRecordErrorHandling.h
simple_vocabulary/Pods/MagicalRecord/Library/Categories/Foundation/NSError+MagicalRecordErrorHandling.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Actions.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Actions.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Options.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Options.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Setup.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+Setup.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+VersionInformation.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecord+VersionInformation.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordDeprecated.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordInternal.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordInternal.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordLogging.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordMOGeneratorProtocol.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordShorthand.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecord/MagicalRecordShorthand.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/AutoMigratingMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/AutoMigratingMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/AutoMigratingWithSourceAndTargetModelMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/AutoMigratingWithSourceAndTargetModelMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ClassicSQLiteMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ClassicSQLiteMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ClassicWithBackgroundCoordinatorSQLiteMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ClassicWithBackgroundCoordinatorSQLiteMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/InMemoryMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/InMemoryMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/MagicalRecordStack+Actions.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/MagicalRecordStack+Actions.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/MagicalRecordStack+Private.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/MagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/MagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ManuallyMigratingMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/ManuallyMigratingMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/SQLiteMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/SQLiteMagicalRecordStack.m
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/SQLiteWithSavingContextMagicalRecordStack.h
simple_vocabulary/Pods/MagicalRecord/Library/MagicalRecordStack/SQLiteWithSavingContextMagicalRecordStack.m
simple_vocabulary/Pods/Pods.xcodeproj/project.pbxproj
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary-acknowledgements.markdown
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary-acknowledgements.plist
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary-dummy.m
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary-environment.h
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary-resources.sh
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary.debug.xcconfig
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary/Pods-simple_vocabulary.release.xcconfig
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-AFNetworking/Pods-simple_vocabulary-AFNetworking-dummy.m
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-AFNetworking/Pods-simple_vocabulary-AFNetworking-prefix.pch
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-AFNetworking/Pods-simple_vocabulary-AFNetworking-Private.xcconfig
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-AFNetworking/Pods-simple_vocabulary-AFNetworking.xcconfig
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-MagicalRecord/Pods-simple_vocabulary-MagicalRecord-dummy.m
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-MagicalRecord/Pods-simple_vocabulary-MagicalRecord-prefix.pch
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-MagicalRecord/Pods-simple_vocabulary-MagicalRecord-Private.xcconfig
simple_vocabulary/Pods/Target Support Files/Pods-simple_vocabulary-MagicalRecord/Pods-simple_vocabulary-MagicalRecord.xcconfig
simple_vocabulary/Podfile.lock
simple_vocabulary/simple_vocabulary.xcworkspace/contents.xcworkspacedata
simple_vocabulary/Jobland.xcworkspace/contents.xcworkspacedata
